.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.input-group {
  max-width: 500px;
  margin: 0 auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieCard:hover{
  cursor: pointer;
}

.movie-list img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}
